<div class="user-menu">
    <button type="button"
            class="user-menu-button"
            onclick="toggleCalendarMenu()">
        📅 Calendar & <br> Appointments ▾
    </button>

    <div id="calendarMenuDropdown"
         class="user-menu-dropdown"
         style="display:none;">

        
        <a href="{{ url_for('calendar_view') }}"> 📆 Calendar</a>
        <br>
        <a href="{{ url_for('daily_schedule') }}">Daily Schedule</a>

        <div class="user-menu-divider"></div>
        <br>
        <a href="{{ url_for('add_appointment') }}">🆕 Add Appointment</a>
        <br>
        <a href="{{ url_for('appointments') }}">Appointments</a>


        <div class="user-menu-divider"></div>
        <br>
        <a href="{{ url_for('godaddy_imports') }}">GoDaddy Imports</a>


         

    </div>
</div>