<div class="user-menu">
    <button type="button"
            class="user-menu-button"
            onclick="toggleClientManagementMenu()">
        🙋‍♀️ Client <br>Management ▾
    </button>

    <div id="clientManagementMenuDropdown"
         class="user-menu-dropdown"
         style="display:none;">

        <div class="user-menu-header">
            <strong>💬 Client Management</strong>
        </div>

        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">Manage/Add</div>
        <a href="{{ url_for('add_new_client') }}">Add New Client</a>
        <br>
        <a href="{{ url_for('client_management') }}">Manage Clients</a>
        

              
        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">Gift Certificates</div>
        <a href="{{ url_for('gift_certificates_home') }}">Gift Certificates Home<a>
        <a href="{{ url_for('gift_certificate_reminders') }}">Reminders</a>
        <a href="{{ url_for('gift_certificate_reminder_history') }}">History</a>

        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">📝 Birthdays</div>
        <a href="{{ url_for('birthday_offers_home') }}">Birthday Offers</a>

        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">📝 Opt-In/Out</div>
        <a href="{{ url_for('client_contact_preferences') }}">Contact Preferences</a>

       

    </div>
</div>