<div class="user-menu">
    <button type="button"
            class="user-menu-button"
            onclick="togglefinancialsMenu()">
        📊 Accounting & <br> 🚚 Logistics ▾
    </button>

    <div id="financialsMenuDropdown"
         class="user-menu-dropdown"
         style="display:none;">


        <div class="user-menu-muted" style="padding:6px 12px;">📨 Income</div>        
        <a href="{{ url_for('add_general_income') }}">Add General Income</a>
        <a href="{{ url_for('income_report') }}">Income Report</a>
       
        <a href="{{ url_for('income_home') }}">Income Home</a>


        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">Expenses</div>        
        <a href="{{ url_for('add_expense') }}">Add Expense</a>
        <a href="{{ url_for('automatic_expenses') }}">Recurring Expenses</a>
        <a href="{{ url_for('expense_report') }}">Expense Report</a>
        <a href="{{ url_for('expenses_home') }}">Expenses Home</a>


        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">Inventory</div>
        <a href="{{ url_for('inventory_home') }}">Add Inventory Item</a>
        <a href="{{ url_for('inventory_scan') }}">Scan Inventory Item</a>
         <a href="{{ url_for('inventory_home') }}">Inventory Home</a>  


        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">Financing</div>        
        <a href="{{ url_for('business_financing_home') }}">BusinessLoans</a>    
        <a href="{{ url_for('finance_home') }}">Finance Home </a>
        <a href="{{ url_for('financials_home') }}">Financials Home</a>

        <div class="user-menu-divider"></div>

        <div class="user-menu-muted" style="padding:6px 12px;">Owner Contributions</div>        
        <a href="{{ url_for('add_owner_contribution') }}">Add Owner Contribution</a>
        <a href="{{ url_for('add_owner_reimbursement') }}">Add Owner Reimbursement</a>
        <a href="{{ url_for('client_contact_preferences') }}">Owner Financing</a>

         
        
        
        
        <div class="user-menu-divider"></div>
        <div class="user-menu-muted" style="padding:6px 12px;">extras</div>      
         <a href="{{ url_for('gift_certificates_home') }}">Gift Certificates</a>
        
        
         
    </div>
</div>