<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clear Skin Esthetics{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Banner -->
    <div class="banner">
        <img src="{{ url_for('static', filename='images/smallbanner.png') }}" alt="Banner">
    </div>

    <!-- Navigation -->
    <nav class="main-nav">
        <a class="nav-btn" href="{{ url_for('home') }}">Control Panel</a>
        <a class="nav-btn" href="{{ url_for('dashboard') }}">Dashboard</a>
        <a class="nav-btn" href="{{ url_for('calendar_view') }}">Calendar</a>
        <a class="nav-btn" href="{{ url_for('appointments') }}">Appointments</a>      
        <a class="nav-btn" href="{{ url_for('client_management') }}">Client Management</a>
    <div style="margin-top: 10px; margin-bottom: 10px;">
         <a class="btn" href="{{ url_for('feedback', page=request.url) }}">Report Issue</a>
    </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </div>

    <div class="footer-note">
        Peach Suite Pro
        <span>&#169</span>2026 Just Peachy Data LLC.   All rights reserved. 2026
    </div>

</body>
</html>
