{% extends "base.html" %}
{% from "components/cards.html" import section_card %}


{% block title %}Employee Admin{% endblock %}

{% block content %}

<h1>Employee Admin</h1>

<div class="narrow-cards">
    {{ section_card("Back to Employees Home", "Back to Employees Home Page",  url_for('employees_home')) }}
    {{ section_card("Add New Employee", "Add a New Employee",  url_for('add_employee')) }}
    {{ section_card("Compensation Report", "Provides an Employee Compensation Summary and Compensation Ledger", url_for('employee_compensation_report')) }}
    {{ section_card("Manage Compensation Types", "Add/Edit/Deactivate Compensation Categories",  url_for('compensation_types_report')) }}
</div>


{% endblock %}

