{% extends "base.html" %}

{% block title %}Messaging History{% endblock %}

{% block content %}

<div class="form-buttons">
    <a href="javascript:history.back()" class="btn">
        ← Back
    </a>

    <a href="{{ url_for('sms_home') }}" class="btn">
    SMS Home
</a>
</div>



<h1>Messaging Consent History</h1>

{% if client %}
    <h2>{{ client[1] }} {{ client[2] }}</h2>
{% endif %}


<div>
<p>Note: SMS and Email Opt-In/Out changes must be made here: 
    <a href="{{ url_for('client_contact_preferences') }}" class="btn">
        Opt-In/Out
    </a>
</p>
</div>

<hr>

<h2>SMS Consent History</h2>

{% if sms_logs %}
<table>
    <thead>
        <tr>
            <th>Phone</th>
            <th>Consent</th>
            <th>Method</th>
            <th>Notes</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for log in sms_logs %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ "Yes" if log[1] else "No" }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
            <td>{{ log[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No SMS history.</p>
{% endif %}

<hr>

<h2>Email Consent History</h2>

{% if email_logs %}
<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Consent</th>
            <th>Method</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for log in email_logs %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ "Yes" if log[1] else "No" }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Email history.</p>
{% endif %}

{% endblock %}
