{% extends "base.html" %}
{% from "components/cards.html" import section_card %}


{% block title %}Employee Admin{% endblock %}

{% block content %}

<a href="javascript:history.back()"
       style="
            display:inline-block;
            padding:2px 8px;
            font-size:11px;
            font-weight:600;
            text-decoration:none;
            color:#555;
            background:#f7f7f7;
            border:1px solid #d9d9d9;
            border-radius:12px;
            white-space:nowrap;
            transition:all .2s;">
        ← Back
    </a>


<h1>Employee Admin</h1>

<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; gap: 25px; width: 100%;">
            
    <!-- LEFT SIDE -->
    <div style="flex: 1; min-width: 0;">
        
        <div class="narrow-cards">
            {{ section_card("Back to Employees Home", "",  url_for('employees_home')) }}
            {{ section_card("Add New Employee", "",  url_for('add_employee')) }}
        </div>

<br>
<br>
<br>
        <div class="narrow-cards">
            {{ section_card("Compensation Report", "Compensation Summary and Ledger", url_for('employee_compensation_report')) }}
            {{ section_card("Manage Compensation Types", "Add/Edit/Deactivate Compensation Categories",  url_for('compensation_types_report')) }}
        </div>


        </div>
                
        <!-- RIGHT SIDE IMAGE -->
        <div style="width: 260px; flex-shrink: 0; text-align: right;">
            <img src="{{ url_for('static', filename='images/ps_hr.png') }}"
                 alt="Peach Suite Pro Calendar"
                 style="width: 260px; height: auto; border-radius: 12px;">
        </div>
</div>



{% endblock %}
