{% extends "base.html" %}
{% from "components/cards.html" import section_card %}


{% block content %}

<a href="{{ url_for('help_center') }}" class="btn">
    📖 Help 
</a>

        <h1>Accounting & Logistics</h1>
      

<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; gap: 25px; width: 750;">

    <!-- LEFT SIDE -->
    <div style="flex: 1; min-width: 0;">
    

    <!-- 🔹 HEADER 1 -->
    <h2 style="margin-top: 25px;">Accounting</h2>
    <div class="narrow-cards"> 
            {{ section_card("Income Home", "",  url_for('income_home')) }}
            {{ section_card("Expense Home", "", url_for('expenses_home')) }}
            {{ section_card("Financing Department", "", url_for('finance_home')) }}  
            {{ section_card("Gift Certificates", "", url_for('gift_certificates_home')) }}
         </div>
        <br>
        
    <!-- 🔹 HEADER 2 -->
    <h2 style="margin-top: 30px;">Inventory / Employees / Reports</h2>
    <div class="narrow-cards">
            {{ section_card("Inventory Home", "",  url_for('inventory_home')) }}
            {{ section_card("Employees / HR", "", url_for('employees_home')) }}
            {{ section_card("Reports", "", url_for('financial_reports_home')) }}
             
        </div>

    </div>

    <!-- RIGHT SIDE IMAGE -->
    <div style="width: 260px; flex-shrink: 0; text-align: right;">
        <img src="{{ url_for('static', filename='images/ps_accountinginv.png') }}"
             alt="Peach Suite Pro Calendar"
             style="width: 260px; height: auto; border-radius: 12px;">
    </div>
</div>
     
       
      
    </div>

    </div>


         

{% endblock %}
