{% extends "base.html" %}
    
{% block content %}
<h1>Client Management Help</h1>
    
<div class="help-section">
    <h2>Using the Appointments Page</h2>

    <p>
        The Client Management page is your Client everything page.  Anything and Everything you wish to accomplish with
        a client can be completed on this page.
    </p>
    
    <p> 
        This page is divided into two sections.  The top part (Client Management Navigation Panel) and the Client Action List.
    </p>
</div>
    
<div class="help-section">
    <h2>Client Management Navigation Panel</h2>


    <h3>Add New Client Button</h3>
    <p>
        If you know for sure that you are going to Add a New Client to your database, then click this button.  You will be redirected
        to the Add New Client Form.  Here you will enter client's name, Phone, email, birthday, address, emergence contact , referral and 
        three notes fields.
    </p>
        
    <h3>Go To Calendar</h3>
    <p> 
        You're one click away from your calendars page, click this button to return to your Calendar Page.
    </p>
        


    <h3>Clients Home</h3>
    <p>
        This button will redirect you to the Clients Home Page.  Clients Home Page has Birthday Offers information, Add Client option and
        the Client History and Full Record View/Edit. Client's full health record, vist records and all other details can be found on this page.  
    </p>
            


    <h3>Need to finish </h3>
    <ul>
        <li>Clicking Filter will display the selected date range in the Appointment List.</li>
    </ul>
            
    <h3>Today</h3>
    <ul>
        <li>Clicking Today will display today's appointments in the Appointment List.</li>
    </ul>

    <h3>Show All Appointments</h3>
    <ul>
        <li>Displays all appointments ever scheduled in the Appointment List.</li>
    </ul>

    <h3>Add Appointment</h3>
    <ul>
        <li>Opens the Daily Schedule page so you can enter details for a new appointment.</li>
    </ul>
</div>

<div class="help-section">
    <h2>Appointment List View</h2>
       
    <p> 
        The Appointment List View displays all appointments returned by the current search.
        Each line contains appointment details as well as buttons for Edit, Add Income, and Cancel.
    </p>
        
    <h3>Appointment Line</h3>
    <p>Left to right:</p>
    <ul>
        <li>ID - each appointment has a unique appointment ID</li>
        <li>Date of appointment</li>
        <li>Time of appointment</li>
        <li>Client name - Last Name, First Name</li>
        <li>Service scheduled</li>
        <li>Appointment status - Completed / Booked</li>
        <li>
            Actions
            <ul>
                <li>Edit Button - Click to edit or reschedule the appointment</li>
                <li>Add Income Button - Click to finish the session, enter payment information, and complete the post-a$
                <li>Cancel Button - Click to cancel the appointment</li>
            </ul>
        </li>
    </ul>
</div>  
    
{% endblock %}

