{% extends "base.html" %}
{% from "components/cards.html" import section_card %}

{% block title %}Income  | Peach Suite Pro{% endblock %}

{% block content %}

<div class="section-page">

    <div class="section-header">

    
     <div class="page-tool-pills" style="margin-top:5px;">
    <a href="{{ url_for('accounting_home') }}" class="tool-pill tool-pill-small">
        Accounting
    </a>

    <a href="{{ url_for('add_general_income') }}" class="tool-pill tool-pill-small">
        Add General Income
    </a>

    <a href="{{ url_for('income_report') }}" class="tool-pill tool-pill-small">
        Income Report
    </a>

    <a href="{{ url_for('gift_certificates_home') }}" class="tool-pill tool-pill-small">
        Gift Certificates
    </a>
    </div>


        <h1>Income Home</h1>

        <p class="section-subtitle">
            Manage Income: General Income (Non Appointment related income), and Income Reports.
            <br>
            <span style="color: red;">NOTE:</span>
            Please go to Calendar or Appointments to Add Income from an Appointment.
        </p>
    </div>



    <div class="money-summary">

        <div class="summary-card">
            <h3>YTD Income</h3>
            <p>{{ total_income|currency }}</p>
        </div>

        <div class="summary-card">
            <h3>YTD Expenses</h3>
            <p>{{ total_expenses|currency }}</p>
        </div>

        <div class="summary-card">
            <h3>Difference</h3>
            <p style="color: {{ 'green' if net_total >= 0 else 'red' }};">
                {{ net_total|currency }}
            </p>
        </div>

    </div>

</div>

{% endblock %}
