{% extends "base.html" %}
{% from "components/cards.html" import section_card %}

{% block title %}Income  | Peach Suite Pro{% endblock %}

{% block content %}

<div class="section-page">

    <div class="section-header">

    
        <h1>Income Home</h1>

        <p class="section-subtitle">
            Manage Income: General Income (Non Appointment related income), and Income Reports.
            <br>
            <span style="color: red;">NOTE:</span>
            Please go to Calendar or Appointments to Add Income from an Appointment.
        </p>
    </div>

    <div class="narrow-cards">

       {{ section_card("Back to Accounting Department", "Income, Expenses, and Loans.", url_for('accounting_home')) }}
       {{ section_card("Add General Income", "Record Income NOT tied to a Client visit or appointment.", url_for('add_general_income')) }}
       {{ section_card("Income Report", "View Income totals, breakdown and detailed transaction history.", url_for('income_report')) }}
       {{ section_card("Gift Certificates", "Add New, View All and Delete Gift Certificates.", url_for('gift_certificates_home')) }}
    </div>

    <div class="money-summary">

        <div class="summary-card">
            <h3>YTD Income</h3>
            <p>${{ "%.2f"|format(total_income) }}</p>
        </div>

        <div class="summary-card">
            <h3>YTD Expenses</h3>
            <p>${{ "%.2f"|format(total_expenses) }}</p>
        </div>

        <div class="summary-card">
            <h3>Difference</h3>
            <p style="color: {{ 'green' if net_total >= 0 else 'red' }};">
                ${{ "%.2f"|format(net_total) }}
            </p>
        </div>

    </div>

</div>

{% endblock %}
