{% extends "base.html" %}
{% from "components/cards.html" import section_card %}


{% block content %}

<a href="{{ url_for('help_center') }}" class="btn">
    📖 Help Center
</a>

<h1>Master Admin Dashboard</h1>
       


    <div style="flex: 1; min-width: 0;">    
    <!-- 🔹 HEADER 1 -->
    <h2 style="margin-top: 25px;">Row 1</h2>

        <div class="narrow-cards">
            {{ section_card("Settings", "future", url_for('master_admin_settings')) }}
            {{ section_card("Feedbacks", "Feedbacks", url_for('feedback_admin')) }}
            {{ section_card("Daily Change Log", "Record development updates and daily changes", url_for('log_it')) }}
            {{ section_card("Admin", "Admin Home", url_for('admin')) }}
            {{ section_card("empty", "", url_for('reminder_queue')) }}
        </div>

<br>     <!-- 🔹 HEADER 2 -->
        <h2 style="margin-top: 25px;">Row 2</h2>
        <div class="narrow-cards">
            {{ section_card("empty", "future user management", url_for('birthday_offers_home')) }} 
            {{ section_card("SMS & Email Footers", "Edit Email & SMS Footers", url_for('master_messaging_footers')) }}
            {{ section_card("Create New Help Page", "Create a New Help Page", url_for('new_help_page')) }}
            {{ section_card(
                "Edit Existing Help Page",  
                "Edit an existing Help Page, then change page in address", 
                url_for('edit_help_page', page_key='calendar') 
            ) }}
        </div>
 <br>           

             <!-- 🔹 HEADER 3 -->
        <h2 style="margin-top: 25px;">Row 3</h2>
        <div class="narrow-cards">
            {{ section_card(
                "Terms and Conditions", 
                "Peach Suite Pro - Terms and Conditions", 
                url_for('view_help_page', page_key='sms_email_terms')
         ) }}


         {{ section_card(
            "Privacy Policy",
            "Peach Suite Pro - Privacy Policy",
            url_for('view_help_page', page_key='privacy')
         ) }}
           
        </div>

    </div>

   




    <!-- 🔹 HEADER 4 -->
    <h2 style="margin-top: 30px;">Admin - Spa Management</h2>

    <div class="narrow-cards">
        {{ section_card("Admin", "Admin Home", url_for('admin')) }}
        {{ section_card("Spa Management", "Spa Management", url_for('spa_management')) }}
    </div>


</div>         

{% endblock %}
