{% extends "base.html" %}
{% from "components/cards.html" import section_card %}

{% block content %}


    <div class="form-buttons">
        <a href="{{ url_for('help_calendar_page') }}" class="btn">Page Help</a>
    </div>  



<h1>Spa Management</h1>


<div class="narrow-cards">
    {{ section_card("Credit Processors", "Credit Card processors (Square)",  url_for('credit_processors')) }}
    {{ section_card("Business Loans", "Company Financing", url_for('loans_home')) }}
    {{ section_card("Owner Financing", "Ownder Funding Section", url_for('funding_home')) }}
</div>



{% endblock %}
